/*PC-------------------------------------------------------------------*/


/* ----------- */
/* 上・合格実績リスト
/* ----------- */


.zisseki_box{
color: #fff;
font-weight: bold;
padding:4%;
max-width:700px;
margin: 0 auto;
}
.zisseki_box ul{
display: flex;
flex-wrap:wrap;
}
.zisseki_box li{
flex-basis:47%;
}
.zisseki_box li::before{
content: "●";
margin-right:10px;
}

.zisseki_box p{
margin-top:15px;
text-align: center;
}


/* ----------- */
/* 下・合格体験記
/* ----------- */


.goukaku_box{
background-color: #fff;
display: flex;
padding:4%;
align-items: center;
justify-content: space-between;
margin:30px 0;
}
.goukaku_icon{
    font-weight: bold;
    display: inline-block;
    color: #fff;
    padding: 3px 6px;
    margin-bottom: 10px;
	}
.goukaku_box span{
display: block;
font-size:1rem;
}
.goukaku_box h3{
font-size:2.0rem;
font-weight: bold;
}

.goukaku_box h4{
font-weight: bold;
}
.goukaku_in01{
flex-basis: 25%;
border-right:1px solid #ccc;
margin-right:2%

}
.goukaku_in02{
flex-basis: 73%;
}



/*tablet--------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 999px) {



}


/*smartphone------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 764px) {

.goukaku_box{
flex-wrap: wrap;
}

.goukaku_in01,
.goukaku_in02{
flex-basis: 100%;
}
.goukaku_in01{
border-right:none;
border-bottom:1px solid #ccc;

}

}


